@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #0D1A2D;
    width: 100vw;
    height: 100vh;
    font-family: 'Outfit';
}
.container-main{
    background-color: hsl(216, 50%, 16%);
    width: 83%;
    height: 85%;
    margin: 40px auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
.container-img{
    width: 85%;
    height: 50%;
    margin: 20px auto 0px;
    position: relative;
}
.container-img img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
}
.capa{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 255, 247, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: opacity 0.5s 0s ease-in;
    -moz-transition: opacity 0.5s 0s ease-in;
    -o-transition: opacity 0.5s 0s ease-in;
    transition: opacity 0.5s 0s ease-in;
    cursor: pointer;
}
.capa img{
    width: 30px;
    height: 30px;
}
.container-img:hover > .capa{
    opacity: 1;
    -webkit-transition: opacity 0.5s 0s ease-in;
    -moz-transition: opacity 0.5s 0s ease-in;
    -o-transition: opacity 0.5s 0s ease-in;
    transition: opacity 0.5s 0s ease-in;
}
.container-info{
    width: 85%;
    height: 20%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.container-info h2{
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.container-info p{
    font-size: 18px;
    color: hsl(214, 31%, 50%);
    text-align: left;
    margin-top: 0px;
}
.container-count{
    width: 85%;
    height: 3%;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
}
.container-etherium{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.container-etherium p{
    color: hsl(178, 100%, 50%);
    font-weight: 400;
    margin-left: 2px;
}
.container-days{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: hsl(214, 31%, 50%);
}
hr{
    width: 85%;
    height: 0.3px;
    background-color: hsl(214, 31%, 50%);
    border: none;
    margin: 0px auto;
}
.container-profile{
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px auto;
}
.container-profile img{
    width: 30px;
    height: 30px;
    border: solid 1px white;
    border-radius: 50%;
}
.container-profile p{
    font-size: 15px;
    color: hsl(214, 31%, 50%);
    margin-left: 20px;
}
a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
img:hover{
    color: rgba(0, 255, 247, 0.3);
}
h2:hover{
    color: hsl(178, 100%, 50%);
}
a:hover{
    color: hsl(178, 100%, 50%);
}
@media (min-width: 919px){
    .container-main{
        width: 20%;
        height: 80%;
    }
}
@media (min-width: 1024px){
    .container-main{
        width: 30%;
        height: 80%;
    }
}
@media (min-width: 1440px){
    .container-main{
        width: 25%;
        height: 65%;
    }
}